body {
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/wall01.jpg);
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color:#fff;
  margin-bottom: 20px;
  font-size: 4rem;
  font-style: italic;

}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

 .btnAnime{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  border-radius: 30px;
  box-shadow: 5px 5px 10px var(--cinza);
  cursor: pointer;
  height: 300px;
  width: 400px;
  transition: .2s;
}


.btnAnime:hover{
  filter:  hue-rotate(-40deg);
}


#kenshin {
  background-image: url(/images/img01.jpg);
}

#frontier {
  background-image: url(/images/img02.png);
}

#titan {
  background-image: url(/images/img03.jpg);
}

#naruto {
  background-image: url(/images/img04.jpg);
}

#gits {
  background-image: url(/images/img05.png);
  background-position: top;
}

#code {
  background-image: url(/images/img06.jpg);
}

#saint {
  background-image: url(/images/img7.jpg);
}

#gundam {
  background-image: url(/images/img08.jpg);
}

#shura {
  background-image: url(/images/img09.jpg);
}


