:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/Anime_Music-Box/images/wall01.jpg);
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.kenshin {
  background: url(/Anime_Music-Box/images/img01.jpg);
  background-size:cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 300px;
  text-align: center;
  width: 400px;
}

.kenshinb:hover {
  box-shadow: inset 0 0 0 25px #53a7ea;
}


.kenshinb {
  transition: all .5s;
  border: 10px solid #eeeeee;
}


.frontier {
  background: url(/Anime_Music-Box/images/img02.png);
  background-size:cover;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 300px;
  text-align: center;
  width: 400px;
}

.titan {
  background: url(/Anime_Music-Box/images/img03.jpg);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.naruto {
  background: url(/Anime_Music-Box/images/img04.jpg);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.gits {
  background: url(/Anime_Music-Box/images/img05.png);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.code {
  background: url(/Anime_Music-Box/images/img06.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.saint {
  background: url(/Anime_Music-Box/images/img7.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.gundam {
  background: url(/Anime_Music-Box/images/img08.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}

.shura {
  background: url(/Anime_Music-Box/images/img09.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 300px;
  width: 400px;
}




.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.ativa:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
